/* .container{
    display:grid;
    /* grid-template-columns: 500px 500px 500px; */
    /* grid-template-columns: 50% 25%  auto; */
    /* grid-template-columns: 1fr 2fr 3fr; */
    /* grid-template-rows: auto auto auto; */

 /* } */
/* .grid-item{
    color:aliceblue;
    border:5px double greenyellow;
    text-align: center;
    padding: 40px;
    background-image: url(./asset/bg2.jpg);
    margin-top: 20px;
    margin-left: 50px;
}  */
/* .image{
    background-image: url(./asset/black-background-with-leaves-vegetation-texture.jpg);
} */ 